{{ block title }}
    Final Screen
{{ endblock }}


{{ block content }}

    <p>
        Below, you see all end-of-round budgets in ECU and Euro: 
    </p>

    <ul>
    {% for round in game_rounds %}
        <li>Round {{ round.round }}: ECU earnings: {{ round.ecu_earnings }}, Euro earnings: {{ round.eur_earnings|to2 }}</li>
    {% empty %}
        <li>No rounds played.</li>
    {% endfor %}
    </ul>

    <p>
        The computer randomly picked Round {{ player.selected_round }} for your payment. <br>
        {{ if round_payment_negative }}
            You lost money in the selected round. Therefore, you only receive the completion fee of {{ participation_fee }}.
        {{ else }}
            Your total payment is {{ player.eur_earnings|to2 }} EUR plus the completion fee of {{ participation_fee }}, i.e., <b>{{ final_payment }}</b>.
        {{ endif }}
    </p>
    <p>
        For the payment, you will provide your information on a secure server. That information is only relevant to your payment.
    </p>
    <p>
        Enter this payment ID: <span class="font-monospace fw-bold">{{ participant.code }}</span> and the amount <b>{{ final_payment }}</b> in the form following this link, together with your first and last name and your IBAN. That information will be sent to our finance department so they can make the payments as soon as possible. You get a code to enter below at the end of that form.
    </p>
    <p>
        Link to payment information: <a href="{{ payment_link }}" target="_blank">{{ payment_link }}</a>
    </p>

    {{ formfields }}
    
    <p>
        Only when entering the correct code, have you completed the experiment.<br>
        Thank you very much for participating in this experiment!
    </p>

    {{ next_button }}

{{ endblock }}

{{ block scripts }}
<script>
    const nextButton = document.getElementsByClassName('otree-btn-next')[0];
    nextButton.innerText = "Finish Experiment";
</script>
{{ endblock scripts }}