{{ block title }}
    Decision
{{ endblock }}

{{ block styles }}
    <style>
        .outer_box {
            display: flex;
            flex-direction: column;
            height: 200px;
        }
        .info_box {
            flex-grow: 1;
            overflow: auto;
            margin-left: 5px;
            margin-right: 5px;
            padding-top: 1rem;
        }
    </style>
{{ endblock }}

{{ block content }}

    <div class="start-timer alert alert-info">
        <p>The round starts in:
            <span style="font-weight: bold">
                <span class="start-timer__time-left"></span>
            </span>
        </p>
    </div>

      <div class="row mb-3">
        <!-- Card 1 -->
        <div class="col">
            <div class="card vertical-space">
                <h4 class="card-header text-center">Predecessor</h4>
                <div class="card-body outer_box">
                    <div class="mb-2 text-center">
                        <button type="button" class="btn btn-primary" id="request_btn">Request a Unit</button>
                    </div>
                    <div class="info_box text-center" id="predecessor_info">
                        <span id="predecesor_transfer_status"></span><br>
                        <span id="predecessor_transfer_units"></span>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    >>>
                </div>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col">
            <div class="card vertical-space">
                <h4 class="card-header text-center">
                    You
                </h4>
                <div class="card-body outer_box">
                    <p class="fw-bold">
                        Inventory: <span id="inventory_display">{{ inventory }}</span> units<br>
                        Balance: <span id="balance_display">{{ balance|to0 }}</span>
                    </p>
                    <p>
                        Items sold: <span id="total_items_sold_display">{{ total_items_sold }}</span><br>
                        Total revenue: <span id="total_revenue_display">{{ total_revenue|to0 }}</span><br>
                        Cost incurred: <span id="total_cost_display">{{ total_cost|to0 }}</span><br>
<!--                        Total profit: <span id="total_profit_display">{{ total_profit|to0 }}</span>-->
                    </p>
                </div>
                <div class="card-footer text-muted text-center">
                    >>>
                </div>
            </div>
        </div>
        
        <!-- Card 3 -->
        <div class="col">
            <div class="card vertical-space">
                <h4 class="card-header text-center">
                    Successor
                </h4>
                <div class="card-body outer_box">
                    <div class="info_box text-center" id="successor_info">
                        <span id="succesor_transfer_status"></span><br>
                        <span id="successor_transfer_units"></span><br>
                        <span id="successor_transfer_cash"></span>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    >>> 
                </div>
            </div>
        </div>
      </div>

    {{ if show_chain }}
        <div class="text-center">
            <svg width="100%" viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg" id="id_circle"></svg>
            <p class="small">Your position is highlighted in gray.</p>
        </div>
    {{ endif }}


    {{ formfields }}
    {{ if DEBUG }} 
        <p class="text-danger"> BUTTON IN DEBUG MODE ONLY:</p>
        {{ next_button }} 
    {{ endif }}
{{ endblock }}

{{ block scripts }}
<script src="{{ static 'chain/highlighting.js' }}"></script>
<script src="{{ static 'chain/draw.js' }}"></script>
<script>
    function boxMullerTransform() {
        const u1 = Math.random();
        const u2 = Math.random();
        
        const z0 = Math.sqrt(-2.0 * Math.log(u1)) * Math.cos(2.0 * Math.PI * u2);
        const z1 = Math.sqrt(-2.0 * Math.log(u1)) * Math.sin(2.0 * Math.PI * u2);
        
        return { z0, z1 };
    }
    
    function getNormallyDistributedRandomNumber(mean, stddev) {
        const { z0, _ } = boxMullerTransform();
        return z0 * stddev + mean;
    }
</script>
<script>
    const requestButton = document.getElementById("request_btn");
    const inventoryDisplay = document.getElementById("inventory_display");
    const balanceDisplay = document.getElementById("balance_display");
    const totalCostDisplay = document.getElementById("total_cost_display");
    const totalItemsSold = document.getElementById("total_items_sold_display");
    const totalRevenueDisplay = document.getElementById("total_revenue_display");
    // const totalProfitDisplay = document.getElementById("total_profit_display");
    const predecessorInfo = document.getElementById("predecessor_info");
    const successorInfo = document.getElementById("successor_info");
    const predecessorTransferStatus = document.getElementById("predecesor_transfer_status");
    const predecessorTransferUnits = document.getElementById("predecessor_transfer_units");
    const successorTransferStatus = document.getElementById("succesor_transfer_status");
    const successorTransferUnits = document.getElementById("successor_transfer_units");
    const successorTransferCash = document.getElementById("successor_transfer_cash");
    const oTreeTimer = document.getElementsByClassName('otree-timer')[0];
    const startTimer = document.getElementsByClassName('start-timer')[0];
    
    // setup timers
    requestButton.disabled = true;
    let currentDate = new Date();
    let remainingTimeoutSeconds = {{ view.remaining_timeout_seconds()|json }};
    let remainingSeconds = remainingTimeoutSeconds - js_vars.round_seconds;
    let milliseconds = Math.floor(remainingSeconds * 1000);
    if (remainingSeconds > 0) {
        oTreeTimer.style.display = "none";
        $('.start-timer__time-left').countdown(currentDate.valueOf() + milliseconds)
        .on('update.countdown', function (event) {
            // %-N is "Total count of minutes till the end, non-padded"
            // %S is seconds left
            var format = '%-N:%S';
            $(this).html(event.strftime(format))
        })
        .on('finish.countdown', function () {
            startTimer.style.display = "none";
            oTreeTimer.style.display = "block";
            start_game();
        });
    } else {
        startTimer.style.display = "none";
        start_game();
    }
    
    let mydata = {
        "inventory": js_vars.inventory,
        "balance": js_vars.balance,
        "total_cost": js_vars.total_cost,
        "total_revenue": js_vars.total_revenue,
        "total_profit": js_vars.total_profit,
        "total_items_sold": js_vars.total_items_sold
    };
    
    function timeout_request_button(timeout_seconds) {
        requestButton.disabled = true;
        requestButton.innerHTML = "Please Wait";
        setTimeout(function() {
            requestButton.disabled = false;
            requestButton.innerHTML = "Request a Unit";
        }, timeout_seconds * 1000);
    }
    
    function update_receiver_data(data) {
        mydata.balance = data['to_balance'];
        mydata.inventory = data['to_inventory'];
        mydata.total_cost = data['to_cost'];
        mydata.total_revenue = data['to_revenue'];
        mydata.total_profit = data['to_profit'];
        update_display();
    }
    
    function update_sender_data(data) {
        mydata.balance = data['from_balance'];
        mydata.inventory = data['from_inventory'];
        mydata.total_cost = data['from_cost'];
        mydata.total_revenue = data['from_revenue'];
        mydata.total_profit = data['from_profit'];
        mydata.total_items_sold += data['units'];
        update_display();
    }
    
    function update_display() {
        inventoryDisplay.innerHTML = mydata.inventory;
        balanceDisplay.innerHTML = mydata.balance.toFixed(0) + " ECU";
        totalCostDisplay.innerHTML = mydata.total_cost.toFixed(0) + " ECU";
        totalRevenueDisplay.innerHTML = mydata.total_revenue.toFixed(0) + " ECU";
        totalItemsSold.innerHTML = mydata.total_items_sold + " units";
        // totalProfitDisplay.innerHTML = mydata.total_profit.toFixed(0);
    }

    function live_update_status(data) {
        // I receive the unit
        if (data['to_player'] === js_vars.own_id_in_group) {
            update_receiver_data(data);
            highlight_predecessor(
                data['transferred'], 
                data['units'], 
                js_vars.info_highlight_timeout_seconds
            );
            
        }
        // I send the unit
        if (data['from_player'] === js_vars.own_id_in_group) {
            update_sender_data(data)
            highlight_successor(
                data['transferred'],
                data['units'],
                data['cash'],
                js_vars.info_highlight_timeout_seconds
            );
        }
        // chain is shown
        if (js_vars.show_chain){
            let from_player_inventory = document.getElementById("p" + data['from_player'] + "_text");
            let to_player_inventory = document.getElementById("p" + data['to_player'] + "_text");
            let from_player_r = document.getElementById("p" + data['from_player'] + "_right");
            let to_player_l = document.getElementById("p" + data['to_player'] + "_left");
            from_player_inventory.textContent = data['from_inventory'];
            to_player_inventory.textContent = data['to_inventory'];
            
            let color = data['transferred'] ? "#648FFF" : "#FFB000";
            from_player_r.setAttribute("fill", color);
            to_player_l.setAttribute("fill", color);
            window.setTimeout(function() {
                from_player_r.setAttribute("fill", "white");
                to_player_l.setAttribute("fill", "white");
            }, js_vars.info_highlight_timeout_seconds * 1000);
        }
    }
    
    function send_request(units) {
        liveSend({
            type: 'request',
            data: {
                units: units,
            }
        });
    }
    
    function send_init() {
        liveSend({
            type: 'init',
        });
    }
    
    function update_inventories(data) {
        for (let player_id in data) {
            let inventory = data[player_id];
            let inventory_display = document.getElementById("p" + player_id + "_text");
            inventory_display.textContent = inventory;
        }
    }
    
    function liveRecv(data) {
        console.log("Received data: ", data["type"]);
        if (data['type'] === 'status') {
            live_update_status(data['data']);
        }
        if (data['type'] === 'init_response') {
            mydata.balance = data['data']['balance'];
            mydata.inventory = data['data']['inventory'];
            mydata.total_cost = data['data']['cost'];
            mydata.total_revenue = data['data']['revenue'];
            mydata.total_profit = data['data']['profit'];
            mydata.total_items_sold = data['data']['items_sold'];
            update_display();
            // console.log(data['data']['chain_inventory']);
            update_inventories(data['data']["chain_inventory"]);
        }
    }
    
    function recalculate_balances() {
        let cost = mydata.inventory * js_vars.inventory_unit_cost_per_second;
        mydata.balance -= cost;
        mydata.total_cost += cost;
        mydata.total_profit = mydata.total_revenue - mydata.total_cost;
    }
    
    function auto_play_request(mean, stdev) {
        let random = getNormallyDistributedRandomNumber(mean, stdev);
        window.setTimeout(function() {
            send_request(1);
            auto_play_request(mean, stdev)
        }, random * 1000);
    }
    
    // when ready
    function start_game() {
        requestButton.disabled = false;
        
        window.setInterval(function () {
            recalculate_balances();
            update_display();
        }, 1000);
        
        if (js_vars.auto_play) {
            auto_play_request(2, 0.5);
        }
    }
    
    const circle = document.getElementById("id_circle");
    if (js_vars.show_chain) {
        draw_rows(circle, js_vars.num_players, js_vars.own_id_in_group);
    }
    
    requestButton.addEventListener("click", function () {
        send_request(1);
        timeout_request_button(js_vars.request_button_timeout_seconds);
    });

    // initialize
    send_init();

    
</script>

{{ endblock scripts }}