{{ block title }}
    Instructions of the Game (will be read aloud)
{{ endblock }}

{{ block content }}
    <p>
        <b>Preface:</b> When referring to <b>you</b> in the text, we refer to every participant. All payments and costs in the tasks appear in Experimental Currency Units (ECU); after the experiment, conversion to euros uses an exchange rate of {{ exchange_rate }}. 
    </p>

    <p>
        <b>Environment:</b> You act in a closed ring system with {{ num_participants }} participants, having a <em>predecessor</em> and a <em>successor</em>. 
        {{ if not show_chain }}The number of participants in the ring is unknown to you.{{ endif }}
    </p>

    <p>
        <b>Illustration of your embedding:</b>
    </p>
    <div class="text-center mb-3">
        <img src="{{ static 'intro/embedding.png' }}" alt="embedding" style="width: 80%;">
    </div>

    <p>
        <b>Situation:</b> At every moment, you can request one unit of a virtual good from your predecessor. You receive a unit only if your predecessor has one in their inventory. Simultaneously, your successor can request a unit from you. 
    </p>

    <p>
        <b>Inventory:</b> Your inventory stores your units; it can be zero or positive. Every time you receive a unit from your predecessor, your inventory increases by one. Every time your successor receives a unit from you, your inventory decreases by one. You will learn about your initial number of items at the beginning of a round.
    </p>

    
    <p>
        <b>Your Actions:</b> To request a unit, click REQUEST in the left box. The box turns green for a second when your predecessor’s inventory has a unit and you receive it; otherwise, it turns red.
    </p>

    <p>
        <b>Your Successor's action:</b> When your successor clicks request, the right box turns green for a second when your inventory has a unit, and your successor receives it; otherwise, it turns red. 
    </p>

    <p><b>Costs and Benefits:</b></p>
    <ul>
        <li>You start with {{ ecu_endowment }} ECUs.</li> 
        <li>You earn {{ ecu_earn }} ECUs every time your successor receives a unit from you.</li>
        <li>You must pay {{ ecu_inventory_cost}} ECU every second for each unit in your inventory, i.e., holding inventory is costly.</li>
        <li>Your ECU balance adjusts accordingly. Technically, it can go negative, but you can also recover.</li>
    </ul>

    <p>
        <b>Round:</b> A round ends after {{ round_seconds }} seconds. You participate in {{ num_rounds }} rounds within changing groups of participants. Before you start a round, you learn about the parameters. 
    </p>

    <p>
        <b>Training:</b>To get comfortable with the situation, you have a {{ training_round_seconds }} second round without payments, where computer predecessors and successors click randomly. After the training all participants are humans and no computer players.
    </p>

    
    <p>
        <b>Payment:</b> At the end of the experiment, the computer randomly picks one of the {{ num_rounds }} rounds. Your ECU balance from that round converts to Euro at the rate {{ exchange_rate }}. Your earnings from this experiment are your completion fee plus your Euro earnings from the selected round. If your earnings from the selected round are negative, you only receive the completion fee.  
    </p>

    <p>
        On the following screen, you can experience the experimental environment and interface in training mode for {{ training_round_seconds }} seconds. This training mode is not payout-relevant. So, try as much as you can. Afterward, we will provide time for questions about the instructions before we start. 
    </p>

    {# formfield 'instructor_code_2' label='Please enter the code provided by the instructor:' #}

    <div class="mt-3 mb-3" id="ready_button_box">
        <p>
            If you have any questions, please contact the experimenter via chat.<br>
            Otherwise, please indicate that you are ready to continue by clicking the button below.
        </p>
        <button type="button" class="btn btn-primary" id="ready">
            I am ready to continue with the experiment.
        </button>
    </div>
    
    {{ if view.is_debug }}
        <p class="text-danger">The next button is only shown in debug mode:</p>
        {{ next_button }}
    {{ endif }}

{{ endblock }}

{{ block scripts }}
    <script>
        let ready_to_advance = false;
        document.getElementById('ready').addEventListener('click', function () {
            document.getElementById('ready_button_box').innerHTML = '<p><em>Please wait for the experiment to continue</em></p>';
            ready_to_advance = true;
            window.setInterval(function () {
                liveSend('advance?')
            }, 5000);
        });
        
        function liveRecv(data) {
            if (data['advance'] === js_vars.current_page_name && ready_to_advance === true) {
                document.getElementById('form').submit();
            }
        }

    </script>
{{ endblock }}